[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyjwt = {extras = ["crypto"], version = "*"}
ipython = "*"

[dev-packages]
black = "*"
coveralls = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
ruff = "*"

[requires]
python_version = "3.12"
